<section class="about-page">
<header class="page-header">
   <h1>About Us</h1>
</header>

<div class="about-content">
   <p>Welcome to Jungle, your one-stop shop for everything you would ever need - aka plants. Because what more does one need?</p>
   <p>Our mission is to make plants more accessible by delivering them right to your door!</p>
</div>
</section>
